body {
  margin: 0;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer-div{
  /* jj */
  /* ggjg */
  /* outerdiv  */
  /* max-width: 800px;   */
  /* padding: 40px; */
  /* margin: auto;
  margin-top: 20px; */
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid black; */
  min-height: 100vh;
  
}

.inside-box {
  margin: auto; 
  min-width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FDE74C;
  border-radius: 10px;
  padding: 40px;
}

.small-box{

  width: 100px;
  min-width: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin: auto;
}


.section {
  
}

.yellow {
  background-color: #FDE74C;
  padding: 24px;

  flex-grow: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  /* justify content -> main axis */ 
  /* align items ->  apposite axis */
  

}

.white {
  background-color: white;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.start-game-cta{
  margin-top: 40px;
  width: 60%;
  height: 40px;
  border-radius: 7px;
  align-self: center;
  border: 1px solid white;
  background-color: white;
}
.message {
  white-space: pre-line; /* Ensures newline characters are respected */
  text-align: center;
}
